body {
    background-color: white;
}

p{
    color: black;
    font-size: 1em;
}

a:visited{
    color: black;
}

h1,h2,h3{
    color: black;
    font-size: 1em;
}


.clear{clear: both;}

@media only screen and (max-width: 768px){
    nav a{
        display: block;
        width: 100%;
    }
    span{
        display: none;
    }
}

#skip-to-content{
    position: absolute;
    left: -999px;
    background-color: black;
    border: 1px solid gray;
    color: white; 
   
    
}
#skip-to-content:focus{
    position: absolute;
    left: 10px;
}


nav a:link,  nav a:visited, nav span, a:link, a:visited{
    color: black;
    font-size: 2em;
}



nav {
    color: black;
}

img{
    width: 10em;
    height: 10em;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Goblin One', cursive;
}

#hamicon {display: none;}
            @media only screen and (max-width: 600px) {
                span {display: none;}
                #hamicon {display: block;}
                nav a {
                    display: block;
                    padding: 10px 0px;
                    }
                    #navlinks{display: none;}
            }
            
.part1, .part2, .part3{display: flex;}
nav, .section1,.section2,.section3,.section4,.section5,.section6,.section7, section{
    flex: 1;
    background-color: white;
}


.begin{
    background-color: black;
}
