body {
    background-color: #0D1017;
}

p{
    color: #ACA4A1;
}

a:link{
    color: #203838;
}

h1{
    color: #7292A1;
}
form{
    margin: 15px;
}

.quote{float: right;}
.pic{float: left;}
.address{
    float: left;
    background-color: white;
    order: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 1em;
}
.clear{clear: both;}
.map{
    background-color: lightblue;
    display: flex;
    margin: 10px;
    padding: 20px;
    border-radius: 1em;
    flex-wrap: wrap;
}
.pic{
    max-width: 100%;
}
@media only screen and (max-width: 768px){
    nav a{
        display: block;
        width: 100%;
    }
    span{
        display: none;
    }
}
