body {
    background-color: #0D1017;
}

p{
    color: #ACA4A1;
}

a:link{
    color: #203838;
}

h1{
    color: #7292A1;
}

.quote{float: right;}
.pic{float: left;}
.address{
    float: left;
    background-color: white;
    order: 1;
    margin: 10px;
}
.clear{clear: both;}
.map{
    background-color: lightblue;
    display: flex;
    order: 2;
}

